.navbar-brand {
    font-family: 'Lobster', cursive;
    font-size: 30px;
}

a#volbtn2 {
    background-color: rgb(77, 194, 201);
    color: white;
}

a#volbtn2:hover {
    border-color: rgb(77, 194, 201);
    color: rgb(77, 194, 201);
    background-color: white;
}


/*.navbar-nav a:hover {
    background-color: #5c8a8a;
  }*/

.navbar-nav a:after,
.navbar-nav a:before {
    transition: all .5s;
}

.navbar-nav a:hover {
    color: #555;
}

.navbar-nav a {
    position: relative;
    margin-right: 20px;
}

.navbar-nav a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #aaa;
    height: 1px;
}

.navbar-nav a:hover:after {
    width: 100%;
}

input#volbtn {
    border-color: rgb(2, 109, 109);
    color: rgb(2, 109, 109);
}

input#volbtn:hover {
    background-color: rgb(2, 109, 109);
    color: white;
}

input#donbtn {
    border-color: rgb(2, 109, 109);
    color: rgb(2, 109, 109);
}

input#donbtn:hover {
    background-color: rgb(2, 109, 109);
    color: white;
}

div.scale-in-center {
    animation: scale-in-center 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: 0s;
}

@keyframes scale-in-center {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

a#hosbtn {
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

a#hosbtn:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

.biLeft {
    animation: bounce-in-left 1s both;
    animation-delay: 0s;
}

@keyframes bounce-in-left {
    0% {
        transform: translateX(-600px);
        animation-timing-function: ease-in;
        opacity: 0;
    }
    38% {
        transform: translateX(0);
        animation-timing-function: ease-out;
        opacity: 1;
    }
    55% {
        transform: translateX(-68px);
        animation-timing-function: ease-in;
    }
    72% {
        transform: translateX(0);
        animation-timing-function: ease-out;
    }
    81% {
        transform: translateX(-28px);
        animation-timing-function: ease-in;
    }
    90% {
        transform: translateX(0);
        animation-timing-function: ease-out;
    }
    95% {
        transform: translateX(-8px);
        animation-timing-function: ease-in;
    }
    100% {
        transform: translateX(0);
        animation-timing-function: ease-out;
    }
    
}


.list-type4 {
    width: 100%;
    margin: 0 auto;
}

.list-type4 ol {
    counter-reset: li;
    list-style: none;
    *list-style: decimal;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    padding: 0;
    /*margin-bottom: 4em;*/
}

.list-type4 .row {
    padding: .4em .4em .4em 2em;
    *padding: .4em;
    margin: .5em 0;
    background: rgb(147, 240, 212);
    background: linear-gradient(to top left, rgb(160, 213, 243), rgb(220, 236, 235));
    color: white;
    text-decoration: none;
    box-shadow: inset 0.5em 0 #425f85;
    -webkit-transition: box-shadow 1s;
    transition: box-shadow 1s;
}

.list-type4 .row:hover {
    box-shadow: inset 15em 0 rgb(94, 164, 204);
}
