<html>

<head>
    <title>
        TOMO
    </title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
    <script src="{% static 'javascript/j1.js' %}" type="text/javascript"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- Include Date Range Picker -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
</head>
<style>
    input#rebtn {
        border-color: rgb(2, 109, 109);
        color: rgb(255, 255, 255);
        background-color: rgb(2, 109, 109);
        border: none;
    }
    
    input#rebtn:hover {
        background-color: #10325f;
        color: white;
        border: none;
    }
</style>

<body>
    <!--navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background:rgb(1, 140, 255); background: linear-gradient(to top left, #10325f, rgb(1, 140, 255) ); ">
        <a class="navbar-brand" href="#" style="font-size: 35px;">Save-Lifes</a>
        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav" style="font-size: 20px;">
                <a class="nav-item nav-link" href="/Hospital/hospitalHome/">Hospital Home</a>
                <a class="nav-item nav-link" href="/Hospital/logout/">Log Out</a>
            </div>
        </div>
    </nav>


    <div class="container">
        {% if msg %}
        <div class="alert alert-success mt-5" role="alert" style="width: 70%;margin:auto;">
            {{msg}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        <br> {% for i in hos %} {% if i.hospital_email == donor.hospital_email %}
        <div class="card my-2 text-dark scale-in-center" style="background-color:rgb(217, 238, 250) ;width: 60%; margin: auto;border-radius: 20px;  box-shadow: 2px 5px 5px .5px rgb(143, 143, 143);border:none">
            <div class="card-header" style="   background: rgb(2, 109, 109);
            background: linear-gradient(to top left, rgb(62, 233, 241), rgb(2, 109, 109));
          color: white;border-top-left-radius: 20px;border-top-right-radius: 20px;border:none;
            ">
                <h1>{{i.hospital_name}}</h1>
                <div>
                    <p style="margin-bottom: 2px;font-weight:500;">{{i.hospital_name}}</p>{{i.hospital_address}},{{i.hospital_city}}
                </div>
            </div>

            <table class="card-table table " style="font-weight: 500;">
                <tbody>
                    <tr>
                        <td>Donor Name:</td>
                        <td>{{donor.donor_name}}</td>
                    </tr>
                    <tr>
                        <td>Donor organ: </td>
                        <td>{{donor.donor_organ}}</td>

                    </tr>
                    <tr>
                        <td>Donor Gender:</td>
                        <td>{{donor.donor_gender}}</td>
                    </tr>
                    <tr>
                        <td>Donor height: </td>
                        <td>{{donor.donor_height}}</td>
                    </tr>
                    <tr>
                        <td>Donor weight: </td>
                        <td>{{donor.donor_weight}}</td>
                    </tr>
                    <tr>
                        <td>Donor dieseas: </td>
                        <td>{%if donor.donor_diseases %} {{donor.donor_diseases}} {% else%} not having any diseases {% endif %}</td>
                    </tr>
                    <tr>
                        <td>Donor addiction: </td>
                        <td> {%if donor.donor_addiction%}{{donor.donor_addiction}}{%else%} don't have any addiction{% endif %}</td>
                    </tr>
                    <tr>
                        <td>Any Other Concerns: </td>
                        <td> {% if donor.donor_info %} {{donor.donor_info}} {%else%} Nothing serious {% endif %}</td>
                    </tr>
                </tbody>
            </table>
            <div class="card-footer d-flex justify-content-end">
                {% if ChangedState == True %}
                <form action="/Hospital/CancelRequest/" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{donor.donor_id}}">
                    <input type="submit" class="btn text-center btn-danger" value="Cancel request">
                </form>
                {% else %}
                <form action="/Hospital/SendRequest/" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{donor.donor_id}}">
                    <input type="submit" class="btn text-center" id="rebtn" value="Send request">
                </form>
                {% endif %}
            </div>


        </div>
        {% endif %} {% endfor %}

       

    </div>



</body>

</html>