<html>

<head>
    <title>
        TOMO
    </title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
    <script src="{% static 'javascript/j1.js' %}" type="text/javascript"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- Include Date Range Picker -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />

    <style>
        .list-type4 {
            width: 100%;
            margin: 0 auto;
        }
        
        .list-type4 ol {
            counter-reset: li;
            list-style: none;
            *list-style: decimal;
            font-size: 15px;
            font-family: 'Raleway', sans-serif;
            padding: 0;
            width: 100%;
            /*margin-bottom: 4em;*/
        }
        
        .list-type4 .row {
            padding: .4em .4em .4em 2em;
            *padding: .4em;
            margin: .5em 0;
            background: rgb(147, 240, 212);
            background: linear-gradient(to top left, rgb(160, 213, 243), rgb(220, 236, 235));
            text-decoration: none;
            box-shadow: inset 0.5em 0 rgb(94, 164, 204);
            -webkit-transition: box-shadow 1s;
            transition: box-shadow 1s;
        }
        
        .list-type4 .row:hover {
            box-shadow: inset 3em 0 #10325f;
        }
    </style>


</head>

<body>
    <!--navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background:rgb(1, 140, 255); background: linear-gradient(to top left, #10325f, rgb(1, 140, 255) ); ">
        <a class="navbar-brand" href="#" style="font-size: 35px;">TOMO <br>
          <span style="font-size:18px; font-family:'Times New Roman', serif;">  Tissue & Organ Management Organization <span>
        </a>
        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav" style="font-size: 20px;">
                <a class="nav-item nav-link" href="/Hospital/hospitalHome/">Hospital Home</a>
                <a class="nav-item nav-link" href="/Hospital/logout/">Log Out</a>
            </div>
        </div>
    </nav>
    <h2 class="text-center display-4 pt-5 mb-5" style="font-family:'Times New Roman', Times, serif; text-shadow:2px 2px rgb(4, 153, 153);">-: Registered Donor List :-</h2>

    <div class="container-fluid">

        {% if msg_error %}
        <div class="alert alert-danger mb-5" role="alert" style="width: 70%;margin:auto;">
            {{msg_error}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        <table class="table">
            <thead style="background-color:#10325f; color:white; padding: .4em .4em .4em 2em;">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col"> Name</th>
                    <th scope="col">Gender</th>
                    <th scope="col">BirthDate</th>
                    <th scope="col">Organ</th>
                    <th scope="col">Height</th>
                    <th scope="col">Weight</th>
                    <th scope="col">Blood Group</th>
                    <th scope="col">Any Dieseas</th>
                    <th scope="col">Any other illness</th>
                    <th scope="col">Addiction</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody style="background: rgb(147, 240, 212);
            background: linear-gradient(to top left, rgb(160, 213, 243), rgb(220, 236, 235));">
                {% for item in don %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td> {{item.donor_name}}</td>
                    <td>{{item.donor_gender}}</td>
                    <td> {{item.donor_dob}}</td>
                    <td> {{item.donor_organ}}</td>
                    <td> {{item.donor_height}} </td>
                    <td> {{item.donor_weight}}</td>
                    <td> {{item.donor_bloodGroup}}</td>
                    <td> {%if item.donor_diseases %} {{item.donor_diseases}} {% else%} not having any diseases {% endif %}</td>
                    <td> {% if item.donor_info %} {{item.donor_info}} {%else%} Nothing serious {% endif %}</td>
                    <td> {%if item.donor_addiction%}{{item.donor_addiction}}{%else%} don't have any addiction{% endif %}</td>
                    <td>
                        <form action="/Hospital/Deletedonor/" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{item.donor_id}}">
                            <input type="submit" class="btn btn-dark" value="Delete" style="background-color: #10325f;" />
                        </form>
                    </td>
                </tr>
                {% endfor%}
            </tbody>
        </table>
        {% if don.has_other_pages %}
        <ul class="pagination d-flex justify-content-center mt-5">
            {% if donor.has_previous %}
            <li class="page-item mr-2 "> <a class="page-link" href="?page={{ don.previous_page_number }}"> Previous</a> </li>
            {% endif %} {% for i in don.paginator.page_range %} {% if don.number == i %}
            <li class="active page-item mr-2"><a class="page-link">{{ i }}  <span class="sr-only">(current)</span></a></li>

            {% else %}
            <li class="page-item mr-2"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %} {% endfor %} {% if don.has_next %}
            <li class="page-item mr-2"><a class="page-link" href="?page={{ don.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>
        {% endif %}
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!--footer-->
    <footer class="pt-5 pb-2" style="background:rgb(1, 140, 255); background: linear-gradient(to top left, #10325f, rgb(1, 140, 255) );  ">
        <div class="container text-white">
            <div class="row">
                <div class="col-lg-8 col-md-12 mb-4 mb-md-0">
                    <div class="logo-part">
                        <a class="w-50 logo-footer" style="  font-family: 'Lobster', cursive;
                        font-size: 45px;"> TOMO</a>
                        <p>Every day blood and organ are required in hospitals and emergency treatment facilities for patients with Cancer, Thalassemia and other diseases for organ transplant recipients, and to help save the lives of accident victims. With
                            a growing population and advances in medical treatments and procedures requiring blood transfusions, the demand for blood and organ continue to increase. Still many people are losing their lives every day in emergency situations
                            because we are suffering from lack of blood & organ in blood and organ Banks, and they do not receive the blood and organ timely. so Our website acts as an essential role in saving the lives of human beings by providing an
                            easy and fast way to search for blood and organs in emergency situations. It bridges the gap between blood or organ donors and recipient and facilitates the search process for recipients and make it easier than before.

                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 mb-4 mb-md-0 text-center">
                    <h3 class="text mb-4">Contact Us: <i class="fa fa-envelope" aria-hidden="true"></i>
                    </h3>
                    <ul class="list-unstyled">
                        <li class="text-white">
                            patelshivani2303@gmail.com
                        </li>
                        <li class="text-white">
                            devanshisheth511@gmail.com
                        </li>
                        <li class="text-white">
                            paramben10@gmail.com
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </footer>

</body>

</html>