<html>

<head>

    <title>
        Save-Lifes
    </title>

    {% load static %}
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
    <script src="{% static 'javascript/j1.js' %}" type="text/javascript"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- Include Date Range Picker -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />

    <style>
        body {
            background-image: linear-gradient(140deg, #42d7d7 0%, #42b2d7 50%, #BFD641 75%);
        }
        
        .bg-text {
            background-color: rgb(0, 0, 0);
            background-color: rgba(0, 0, 0, 0.4);
            color: white;
            font-weight: bold;
            border: 3px solid #f1f1f1;
            margin: auto;
            margin-bottom: 30vh;
            margin-top: 20vh;
            width: 50%;
            padding: 40px;
            text-align: center;
            border-radius: 20px;
        }
        
        .bg-text button {
            margin-top: 10px;
        }
    </style>

</head>

<body>

    <!--navbar-->
    <nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: #f1f1f1;">
        <a class="navbar-brand" href="#" style="font-size: 35px;">Save-Lifes</a>
        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav" style="font-size: 20px;">
                {% if i %}
                <span class="badge badge-pill badge-info" style="margin-bottom:20px;">{{i}}</span> {% endif %}
                <a class="nav-item nav-link" href="/Hospital/ViewRequest/">Requests</a>
                <a class="nav-item nav-link" href="/Hospital/PledgedDonorsList/">Pledged Donors</a>
                <a class="nav-item nav-link active" href="/Hospital/hospitalHome/" active>Hospital Home</a>
                <a class="nav-item nav-link" href="/Hospital/logout/">Log Out</a>
            </div>
        </div>
    </nav>

    {% if msg_donor %}
    <div class="alert alert-success" role="alert">
        {{msg_donor}}
    </div>
    {% endif %}

    <div class="bg-text" data-aos="zoom-in">
        <h1>Add New Donors</h1>
        <button style="color:white;" type="button" class="btn btn-success"><a data-toggle="modal" data-target="#exampleModal3" style="margin:auto;">Add Donor</a>
    </div>

    <div class="bg-text" data-aos="zoom-in">
    <h1>The Registered Donor list</h1>
    <button style="color:white;"  type="button" class="btn btn-success"> <a href="/Hospital/donorList/" style="color:white;" >View List</a></button>
    </div>

    <div class="bg-text" data-aos="zoom-in">
        <h1>The Potential Donor list</h1>
        <p>The Donors added by other Hospitals are listed here.</p>
        <button style="color:white;" type="button" class="btn btn-success"> <a href="/Hospital/potentialDonor/" style="color:white;" >View List</a></button>
    </div>

    <div class="bg-text" data-aos="zoom-in">
        <h1>Your Sent Request List</h1>
        <p>The organ Requests that you sent to other Hospitals are shown here.</p>
        <button style="color:white;" type="button" class="btn btn-success"> <a href="/Hospital/ViewYourSentRequest/" style="color:white;" >View List</a></button>
    </div>

    <div class="bg-text" data-aos="zoom-in">
        <h1>Transplant Tends</h1>
        <p>Hospitals Have To give numbers of successfull donations done in the current year.</p>
        <button style="color:white;" type="button" class="btn btn-success"> <a  data-toggle="modal" data-target="#exampleModal4" href="/Hospital/TranplantTrends/" style="color:white;" >View List</a></button>
    </div>


    <!-- Add Donar Modal -->
    <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                </div>

                <div class="modal-body">
                    <form action="/Hospital/add_donor/" method="POST">
                        {% csrf_token %}
                        <!-- Name -->
                        <div class="form-group">
                            <input type="text" name="donor_name" id="nm" class="form-control" placeholder="Name" style="border-radius: 20px;" autocomplete="off" required/>
                        </div>

                        <!-- Birth Date -->
                        <div class="form-group">
                            <input class="form-control" type="date" name="donor_dob" id="date" placeholder="Birthdate : DD/MM/YYYY" style="border-radius: 20px;" autocomplete="off" required/>
                        </div>

                        <!-- Organ to donate -->
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-4 col-form-label">Blood Group</label>
                            <div class="col-sm-8">
                                <select id="inputState" class="form-control" style="border-radius: 20px;" name="donor_organ">
                                        <option name="kidney" value="kidney" selected>kidney</option>
                                        <option name="liver" value="liver">liver</option>
                                        <option name="lungs" value="lungs" >lungs</option>
                                        <option name="intestine" value="intestine" >intestine</option>
                                        <option name="corneas" value="corneas" >corneas</option>
                                        <option name="heart" value="heart" >heart</option>
                                        <option name="pancreas" value="pancreas" >pancreas</option>
                                    </select>
                            </div>
                        </div>

                        <!-- Gender -->
                        <label for="gender">Gender :</label><br>
                        <div class="form-check form-check-inline" id="gender">
                            <input class="form-check-input" type="radio" name="donor_gender" id="inlineRadio1" value="Male">
                            <label class="form-check-label" for="inlineRadio1">Male</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="donor_gender" id="inlineRadio2" value="Female">
                            <label class="form-check-label" for="inlineRadio2">Female</label>
                        </div><br><br>

                        <div class="row">
                            <div class="col-4">
                                <!-- Height -->
                                <div class="form-group">
                                    <input type="text" id="height" name="donor_height" class="form-control" placeholder="Height" style="border-radius: 20px;" autocomplete="off" required />
                                </div>
                            </div>
                            <div class="col-4">
                                <!-- Weight -->
                                <div class="form-group">
                                    <input type="text" id="weight" name="donor_weight" class="form-control" placeholder="weight" style="border-radius: 20px;" autocomplete="off" required/>
                                </div>
                            </div>
                            <div class="col-4">
                                <!-- Blood Group -->
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">Blood Group</label>
                                    <div class="col-sm-8">
                                        <select id="inputState" class="form-control" style="border-radius: 20px;" name="donor_bloodGroup">
                                                <option name="A+" value="A+" selected>A+</option>
                                                <option name="A-" value="A-">A-</option>
                                                <option name="B+" value="B+" >B+</option>
                                                <option name="B-" value="B-" >B-</option>
                                                <option name="AB+" value="AB+" >AB+</option>
                                                <option name="AB-" value="AB-" >AB-</option>
                                                <option name="O+" value="O+" >O+</option>
                                                <option name="O-" value="O-" >O-</option>
                                            </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Any Diseases -->

                        <label for="dieseas">Have you had any diseases? (Please check all that apply)</label><br>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-check" id="diseases">
                                    <input class="form-check-input" name="donor_diseases" type="checkbox" value="Asthma" id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        Asthma
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" name="donor_diseases" type="checkbox" value="Cancer" id="defaultCheck2">
                                    <label class="form-check-label" for="defaultCheck2">
                                        Cancer
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" name="donor_diseases" type="checkbox" value="Diabetes" id="defaultCheck3">
                                    <label class="form-check-label" for="defaultCheck3">
                                        Diabetes
                                    </label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-check">
                                    <input class="form-check-input" name="donor_diseases" type="checkbox" value="Anemia" id="defaultCheck4">
                                    <label class="form-check-label" for="defaultCheck4">
                                        Anemia
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" name="donor_diseases" type="checkbox" value="heart-Dieseas" id="defaultCheck5">
                                    <label class="form-check-label" for="defaultCheck5">
                                        heart Dieseas
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" name="donor_diseases" type="checkbox" value="Blood-Pressure" id="defaultCheck6">
                                    <label class="form-check-label" for="defaultCheck6">
                                        High Blood Pressure
                                    </label>
                                </div>
                            </div>
                        </div><br>

                        <!-- Addiction -->
                        <label for="addict">Have any Addiction?</label><br>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-check" id="addict">
                                    <input class="form-check-input" name="donor_addiction" type="checkbox" value="Alcohol" id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        Alcohol
                                    </label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-check">
                                    <input class="form-check-input" name="donor_addiction" type="checkbox" value="Smoking" id="defaultCheck2">
                                    <label class="form-check-label" for="defaultCheck2">
                                        Smoking
                                    </label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-check" id="addiction">
                                    <input class="form-check-input" name="donor_addiction" type="checkbox" value="Caffine" id="defaultCheck3">
                                    <label class="form-check-label" for="defaultCheck3">
                                        Caffine
                                    </label>
                                </div>
                            </div>
                        </div><br>

                        <div class="form-group">
                            <label for="txt1">Please List if you have any other concern(recent operations of medicines) :</label>
                            <textarea name="donor_info" class="form-control" id="Txt1" rows="1"></textarea>
                        </div>

                        <!-- Submit button -->
                        <input type="submit" id="loginbtn" value="submit" class="btn btn-dark btn-block btn-lg mb-4" />
                    </form>
                </div>

            </div>
        </div>
    </div>
    </div>


     <!-- Add Transplant Trends -->
    <div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                </div>

                <div class="modal-body">
                    <form action="/Hospital/TransplantTrends/" method="POST">
                        {% csrf_token %}

                        <div class="row">
                            <div class="col-sm">
                                <label for="nm" style="margin-left:5vh;"> Kidney </label>
                            </div>
                            <div class="col-sm">
                                <div class="form-group">
                                    <input type="text" name="kidney" id="nm" class="form-control"  style="border-radius: 20px; margin-right:10vh;" autocomplete="off" required/>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm">
                                <label for="nm" style="margin-left:5vh;"> Liver </label>
                            </div>
                            <div class="col-sm">
                                <div class="form-group">
                                    <input type="text" name="liver" id="nm" class="form-control"  style="border-radius: 20px; margin-right:10vh;" autocomplete="off" required/>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm">
                                <label for="nm" style="margin-left:5vh;"> Lung </label>
                            </div>
                            <div class="col-sm">
                                <div class="form-group">
                                    <input type="text" name="lung" id="nm" class="form-control"  style="border-radius: 20px; margin-right:10vh;" autocomplete="off" required/>
                                </div>
                            </div>
                        </div>

                         <div class="row">
                            <div class="col-sm">
                                <label for="nm" style="margin-left:5vh;"> Heart </label>
                            </div>
                            <div class="col-sm">
                                <div class="form-group">
                                    <input type="text" name="heart" id="nm" class="form-control"  style="border-radius: 20px; margin-right:10vh;" autocomplete="off" required/>
                                </div>
                            </div>
                        </div>

                         <div class="row">
                            <div class="col-sm">
                                <label for="nm" style="margin-left:5vh;"> Pancreas </label>
                            </div>
                            <div class="col-sm">
                                <div class="form-group">
                                    <input type="text" name="pancreas" id="nm" class="form-control"  style="border-radius: 20px; margin-right:10vh;" autocomplete="off" required/>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm">
                                <label for="nm" style="margin-left:5vh;"> Intestine </label>
                            </div>
                            <div class="col-sm">
                                <div class="form-group">
                                    <input type="text" name="intestine" id="nm" class="form-control"  style="border-radius: 20px; margin-right:10vh;" autocomplete="off" required/>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm">
                                <label for="nm" style="margin-left:5vh;"> Eye </label>
                            </div>
                            <div class="col-sm">
                                <div class="form-group">
                                    <input type="text" name="eye" id="nm" class="form-control"  style="border-radius: 20px; margin-right:10vh;" autocomplete="off" required/>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm">
                                <label for="nm" style="margin-left:5vh;"> Skin </label>
                            </div>
                            <div class="col-sm">
                                <div class="form-group">
                                    <input type="text" name="skin" id="nm" class="form-control"  style="border-radius: 20px; margin-right:10vh;" autocomplete="off" required/>
                                </div>
                            </div>
                        </div>
                        
                    <!-- Submit button -->
                        <input type="submit" id="loginbtn" value="submit" class="btn btn-dark btn-block btn-lg mb-4" />
                    </form>
                </div>

            </div>
        </div>
    </div>
    </div>



    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            offset: 300,
            duration: 1200
        });
    </script>

</body>

</html>