<html>

<head>

    <title>
        Save-Lifes
    </title>

    {% load static %}
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
    <script src="{% static 'javascript/j1.js' %}" type="text/javascript"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- Include Date Range Picker -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />

    <style>
        .bg-text {
            background: rgb(2, 109, 109);
            background: linear-gradient(to top left, rgb(62, 233, 241), rgb(2, 109, 109));
            color: white;
            font-weight: bold;
            border: 3px solid #f1f1f1;
            margin: auto;
            margin-bottom: 10vh;
            margin-top: 10vh;
            width: 60%;
            height: 40%;
            padding-top: 80px;
            text-align: center;
            border-radius: 20px;
        }
        
        a#hosbtn {
            border-color: #10325f;
            color: rgb(255, 255, 255);
            border-width: 3px;
            background-color: #10325f;
        }
        
        a#hosbtn:hover {
            background-color: inherit;
            color: white;
            border-color: #ffffff;
        }
    </style>

</head>

<body>

    <!--navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background:rgb(1, 140, 255); background: linear-gradient(to top left, #10325f, rgb(1, 140, 255) ); ">
        <a class="navbar-brand" href="#" style="font-size: 35px;">Save-Lifes</a>
        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav" style="font-size: 20px;">
                {% if i %}
                <span class="badge badge-pill badge-info" style="margin-bottom:20px;">{{i}}</span> {% endif %}
                <a class="nav-item nav-link" href="/Hospital/ViewRequest/">Requests</a>
                <a class="nav-item nav-link" href="/Hospital/PledgedDonorsList/">Pledged Donors</a>
                <a class="nav-item nav-link" href="/Hospital/ViewDonationList/">Donation List</a>
                <a class="nav-item nav-link active" href="/Hospital/hospitalHome/" active>Hospital Home</a>
                <a class="nav-item nav-link" href="/Hospital/logout/">Log Out</a>
            </div>
        </div>
    </nav>

    {% if msg_donor %}
    <div class="alert alert-success" role="alert">
        {{msg_donor}}
    </div>
    {% endif %}

    <div class="bg-text" data-aos="zoom-in">
        <i class="fa fa-male" style="font-size: 38px;"></i>
        <h3>is there any organ donor at your hospital !</h3>
        <a data-toggle="modal" data-target="#exampleModal3" class="btn btn-outline-light btn-lg" id="hosbtn">Add Donor</a>
    </div>

    <div class="bg-text" data-aos="zoom-in">
        <i class="fas fa-clipboard-list" style="font-size: 38px;"></i>
        <h3>The Registered Donor list</h3>
        <a href="/Hospital/donorList/" class="btn btn-outline-light btn-lg" id="hosbtn">View List</a>
    </div>

    <div class="bg-text" data-aos="zoom-in">
        <i class="fas fa-search-location" style="font-size: 38px;"></i>
        <h3>The Potential Donor list</h3>
        <p>The Donors added by other Hospitals are listed here.</p>
        <a href="/Hospital/potentialDonor/" class="btn btn-outline-light btn-lg" id="hosbtn">View List</a>
    </div>

    <div class="bg-text" data-aos="zoom-in">
        <i class="fas fa-users" style="font-size: 38px;"></i>
        <h3>Your Sent Request List</h3>
        <p>The organ Requests that you sent to other Hospitals are shown here.</p>
        <a href="/Hospital/ViewYourSentRequest/" class="btn btn-outline-light btn-lg" id="hosbtn">View List</a>
    </div>

    <div class="bg-text" data-aos="zoom-in">
        <i class="fa fa-male" style="font-size: 38px;"></i>
        <h3>Add Donation Details </h3>
        <p>Hospitals can enter the details of Donation already made.</p>
        <a data-toggle="modal" data-target="#exampleModal4" class="btn btn-outline-light btn-lg" id="hosbtn">View List</a>
    </div>


    <!-- Add Donar Modal -->
    <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                </div>

                <div class="modal-body">
                    <form action="/Hospital/add_donor/" method="POST">
                        {% csrf_token %}
                        <!-- Name -->
                        <div class="form-group">
                            <input type="text" name="donor_name" id="nm" class="form-control" placeholder="Name" style="border-radius: 20px;" autocomplete="off" required/>
                        </div>

                        <!-- Birth Date -->
                        <div class="form-group">
                            <input class="form-control" type="date" name="donor_dob" id="date" placeholder="Birthdate : DD/MM/YYYY" style="border-radius: 20px;" autocomplete="off" required/>
                        </div>

                        <!-- Organ to donate -->
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-4 col-form-label">Blood Group</label>
                            <div class="col-sm-8">
                                <select id="inputState" class="form-control" style="border-radius: 20px;" name="donor_organ">
                                        <option name="kidney" value="kidney" selected>kidney</option>
                                        <option name="liver" value="liver">liver</option>
                                        <option name="lungs" value="lungs" >lungs</option>
                                        <option name="intestine" value="intestine" >intestine</option>
                                        <option name="corneas" value="corneas" >corneas</option>
                                        <option name="heart" value="heart" >heart</option>
                                        <option name="pancreas" value="pancreas" >pancreas</option>
                                    </select>
                            </div>
                        </div>

                        <!-- Gender -->
                        <label for="gender">Gender :</label><br>
                        <div class="form-check form-check-inline" id="gender">
                            <input class="form-check-input" type="radio" name="donor_gender" id="inlineRadio1" value="Male">
                            <label class="form-check-label" for="inlineRadio1">Male</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="donor_gender" id="inlineRadio2" value="Female">
                            <label class="form-check-label" for="inlineRadio2">Female</label>
                        </div><br><br>

                        <div class="row">
                            <div class="col-4">
                                <!-- Height -->
                                <div class="form-group">
                                    <input type="text" id="height" name="donor_height" class="form-control" placeholder="Height" style="border-radius: 20px;" autocomplete="off" required />
                                </div>
                            </div>
                            <div class="col-4">
                                <!-- Weight -->
                                <div class="form-group">
                                    <input type="text" id="weight" name="donor_weight" class="form-control" placeholder="weight" style="border-radius: 20px;" autocomplete="off" required/>
                                </div>
                            </div>
                            <div class="col-4">
                                <!-- Blood Group -->
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">Blood Group</label>
                                    <div class="col-sm-8">
                                        <select id="inputState" class="form-control" style="border-radius: 20px;" name="donor_bloodGroup">
                                                <option name="A+" value="A+" selected>A+</option>
                                                <option name="A-" value="A-">A-</option>
                                                <option name="B+" value="B+" >B+</option>
                                                <option name="B-" value="B-" >B-</option>
                                                <option name="AB+" value="AB+" >AB+</option>
                                                <option name="AB-" value="AB-" >AB-</option>
                                                <option name="O+" value="O+" >O+</option>
                                                <option name="O-" value="O-" >O-</option>
                                            </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Any Diseases -->

                        <label for="dieseas">Have you had any diseases? (Please check all that apply)</label><br>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-check" id="diseases">
                                    <input class="form-check-input" name="donor_diseases" type="checkbox" value="Asthma" id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        Asthma
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" name="donor_diseases" type="checkbox" value="Cancer" id="defaultCheck2">
                                    <label class="form-check-label" for="defaultCheck2">
                                        Cancer
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" name="donor_diseases" type="checkbox" value="Diabetes" id="defaultCheck3">
                                    <label class="form-check-label" for="defaultCheck3">
                                        Diabetes
                                    </label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-check">
                                    <input class="form-check-input" name="donor_diseases" type="checkbox" value="Anemia" id="defaultCheck4">
                                    <label class="form-check-label" for="defaultCheck4">
                                        Anemia
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" name="donor_diseases" type="checkbox" value="heart-Dieseas" id="defaultCheck5">
                                    <label class="form-check-label" for="defaultCheck5">
                                        heart Dieseas
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" name="donor_diseases" type="checkbox" value="Blood-Pressure" id="defaultCheck6">
                                    <label class="form-check-label" for="defaultCheck6">
                                        High Blood Pressure
                                    </label>
                                </div>
                            </div>
                        </div><br>

                        <!-- Addiction -->
                        <label for="addict">Have any Addiction?</label><br>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-check" id="addict">
                                    <input class="form-check-input" name="donor_addiction" type="checkbox" value="Alcohol" id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        Alcohol
                                    </label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-check">
                                    <input class="form-check-input" name="donor_addiction" type="checkbox" value="Smoking" id="defaultCheck2">
                                    <label class="form-check-label" for="defaultCheck2">
                                        Smoking
                                    </label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-check" id="addiction">
                                    <input class="form-check-input" name="donor_addiction" type="checkbox" value="Caffine" id="defaultCheck3">
                                    <label class="form-check-label" for="defaultCheck3">
                                        Caffine
                                    </label>
                                </div>
                            </div>
                        </div><br>

                        <div class="form-group">
                            <label for="txt1">Please List if you have any other concern(recent operations of medicines) :</label>
                            <textarea name="donor_info" class="form-control" id="Txt1" rows="1"></textarea>
                        </div>

                        <!-- Submit button -->
                        <input type="submit" id="loginbtn" value="submit" class="btn btn-dark btn-block btn-lg mb-4" />
                    </form>
                </div>

            </div>
        </div>
    </div>
    </div>


    <!-- Add Donation records -->
    <div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                </div>

                <div class="modal-body">
                    <form action="/Hospital/DonationList/" method="POST">
                        {% csrf_token %}

                        <!-- Donors -->
                        <div class="form-group">
                            <label for="nm"> Donor Name: </label>
                            <input type="text" name="donor_name" id="nm" class="form-control" style="border-radius: 20px;" autocomplete="off" required/>
                        </div>

                        <!-- Patient -->
                        <div class="form-group">
                            <label for="nm"> Patient Name: </label>
                            <input type="text" name="patient_name" id="nm" class="form-control" style="border-radius: 20px;" autocomplete="off" required/>
                        </div>

                        <!-- Organ Donated -->
                        <div class="form-group">
                            <label for="inputEmail3">Organ Donated:</label>
                            <select id="inputState" class="form-control" style="border-radius: 20px;" name="organ">
                            <option name="kidney" value="kidney" selected>Kidney</option>
                            <option name="liver" value="liver">Liver</option>
                            <option name="lung" value="lung" >Lung</option>
                            <option name="heart" value="heart" >Heart</option>
                            <option name="pancreas" value="pancreas" >Pancreas</option>
                            <option name="eye" value="eye" >Eye</option>
                            <option name="skin" value="skin" >Skin</option>
                            <option name="intestine" value="intestine" >intestine</option>
                        </select>
                        </div>

                        <!-- Submit button -->
                        <input type="submit" id="loginbtn" value="submit" class="btn btn-dark btn-block btn-lg mb-4" />
                    </form>
                </div>

            </div>
        </div>
    </div>
    </div>



    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            offset: 300,
            duration: 1200
        });
    </script>


    <!--footer-->
    <footer class="pt-5 pb-2" style="background:rgb(1, 140, 255); background: linear-gradient(to top left, #10325f, rgb(1, 140, 255) );">
        <div class="container text-white">
            <div class="row">
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <div class="logo-part">
                        <a class="w-50 logo-footer" style="  font-family: 'Lobster', cursive;
                    font-size: 45px;"> Save-Lifes</a>
                        <p>7637 Laurel Dr. King Of Prussia, PA 19406 Donated tissues save or dramatically enhance the quality of life for the people who receive them. As an organ and tissue donor, you can enhance the lives of up to 75 people. Corneas, the
                            middle ear, skin, heart valves, bone, veins, cartilage, tendons, and ligaments can be stored in tissue banks and used to restore sight, cover burns, repair hearts, replace veins, and mend damaged connective tissue and cartilage
                            in recipients.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0 text-center">
                    <h3 class="text mb-4">Contact Us: <i class="fa fa-envelope" aria-hidden="true"></i>
                    </h3>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#!" class="text-white">Email1</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Email2</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Email3</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </footer>
</body>

</html>