<html>

<head>
    <title>
        Save-Lifes
    </title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
    <script src="{% static 'javascript/j1.js' %}" type="text/javascript"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- Include Date Range Picker -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
</head>
<body>
     <!--navbar-->
    <nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: #f1f1f1;">
        <a class="navbar-brand" href="#" style="font-size: 35px;">Save-Lifes</a>
        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav" style="font-size: 20px;">
                <a class="nav-item nav-link " href="/Hospital/hospitalHome/" active>Hospital Home</a>
                <a class="nav-item nav-link" href="/Hospital/logout/">Log Out</a>
            </div>
        </div>
    </nav>

    <table class="table">
        <thead style="background-color: #00cc44; color:white;">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Gender</th>
                <th scope="col">Organ</th>
                <th scope="col">Contact No</th>
                <th scope="col">Blood Group</th>
                <th scope="col">Any Dieseas</th>
                <th scope="col">Any other illness</th>
                <th scope="col">Addiction</th>
            </tr>
        </thead>
        <tbody>
            {% for i in donor %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{i.pledge_name}}</td>
                <td>{{i.pledge_gender}}</td>
                <td>{{i.pledge_organ}}</td>
                <td>{{i.pledge_mobile_no}}</td>
                <td>{{i.pledge_bloodGroup}}</td>
                <td>{%if i.pledge_diseases %} {{i.pledge_diseases}} {% else%} not having any diseases {% endif %}
                </td>
                <td>{% if i.pledge_info %} {{i.pledge_info}} {%else%} Nothing serious {% endif %}
                </td>
                <td>{%if i.pledge_addiction%}{{i.pledge_addiction}}{%else%} don't have any addiction{% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>