.navbar-brand {
    font-family: 'Lobster', cursive;
    font-size: 30px;
}

.navbar-nav a:after,
.navbar-nav a:before {
    transition: all .5s;
}

.navbar-nav a:hover {
    color: #555;
}

.navbar-nav a {
    position: relative;
    margin-right: 20px;
}

.navbar-nav a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #aaa;
    height: 1px;
}

.navbar-nav a:hover:after {
    width: 100%;
}


/*css for blood donation page*/

a#volbtn {
    border-color: #10325f;
    color: #10325f;
}

a#volbtn:hover {
    background-color: #10325f;
    color: white;
}

div.card {
    box-shadow: 7px 6px 8px -1px rgba(163, 163, 163, 0.71);
    border-radius: 20px;
    background-color: rgb(209, 230, 231);
    border: none;
}

div.card:hover {
    box-shadow: 7px 6px 8px -1px rgba(163, 163, 163, 0.71);
    background-color: rgb(77, 194, 201);
    color: white;
}

.bounce-in-top {
    animation: bounce-in-top 2.1s both;
    animation-delay: 0s;
}

@keyframes bounce-in-top {
    0% {
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }
    38% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }
    55% {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    72% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    81% {
        -webkit-transform: translateY(-28px);
        transform: translateY(-28px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    95% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}


/*css for volunteer page*/

a#volbtn2 {
    background-color: rgb(77, 194, 201);
    color: white;
}

a#volbtn2:hover {
    border-color: rgb(77, 194, 201);
    color: rgb(77, 194, 201);
    background-color: white;
}

div.p-2 input[type=text] {
    box-shadow: 2px 2px 8px 1px rgb(0, 0, 0);
}

.col {
    margin: auto;
}

.biLeft {
    animation: bounce-in-left 1s both;
    animation-delay: 0s;
}

@keyframes bounce-in-left {
    0% {
        transform: translateX(-600px);
        animation-timing-function: ease-in;
        opacity: 0;
    }
    38% {
        transform: translateX(0);
        animation-timing-function: ease-out;
        opacity: 1;
    }
    55% {
        transform: translateX(-68px);
        animation-timing-function: ease-in;
    }
    72% {
        transform: translateX(0);
        animation-timing-function: ease-out;
    }
    81% {
        transform: translateX(-28px);
        animation-timing-function: ease-in;
    }
    90% {
        transform: translateX(0);
        animation-timing-function: ease-out;
    }
    95% {
        transform: translateX(-8px);
        animation-timing-function: ease-in;
    }
    100% {
        transform: translateX(0);
        animation-timing-function: ease-out;
    }
}

.split {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 2em;
}

.split>* {
    width: 50%;
}

.split>*:nth-child(odd) {
    padding-right: 3em;
}

.split>*:nth-child(even) {
    padding-left: 3em;
    border-left: solid 2px;
}

.split>*> :last-child,
.split>*> :last-child> :last-child,
.split>*> :last-child> :last-child> :last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 980px) {
    .split> :nth-child(odd) {
        padding-right: 2em;
    }
    .split> :nth-child(even) {
        padding-left: 2em;
    }
}

@media screen and (max-width: 736px) {
    .split {
        padding-bottom: 0;
    }
    .split>* {
        width: 100%;
        margin-bottom: 2em;
    }
    .split>*:nth-child(odd) {
        padding-right: 0;
    }
    .split>*:nth-child(even) {
        border-left: none;
        padding-left: 0;
    }
}

.split> :nth-child(even) {
    border-left-color: rgb(207, 231, 236);
}

.wrapper {
    padding: 3em 0 2em 0;
    position: relative;
    margin-bottom: 120px;
}

@media screen and (max-width: 1366px) {
    .wrapper {
        padding: 4em 2.5em 2em 2.5em;
    }
}

@media screen and (max-width: 980px) {
    .wrapper {
        padding: 4em 2em 2em 2em;
    }
}

@media screen and (max-width: 736px) {
    .wrapper {
        padding: 3em 2em 1em 2em;
    }
}

@media screen and (max-width: 480px) {
    .wrapper {
        padding: 3em 2em 1em 2em;
    }
}